*{
    text-decoration: none;
}
.loader{
    display:flex;
    justify-content: center;
}
.cardWrap{
    max-width: 400px;   
    margin: 0 auto;
    text-align: center;
}
.cardWrapItem{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    color: black;
}

