.loader{
    display:flex;
    justify-content: center;
}
.cardWrap{
    max-width: 400px;
    margin: 0 auto;
}
.cardWrapItem{
    border-radius: 5px;
    margin-top: 5px;
    color: black;
    background-color: #fef8fa;
}

.failedFetch{
    border-radius: 5px;
    margin-top: 5px;
    color: black;
    text-align: center;
}